.ok-button{
    border-radius: 20px;
    color: rgb(44, 1, 138);
    margin-top: 20px;
    background-color: #f5f7f5;

}
.input-form{
   left:50px; 
   margin: 15px;
   border-radius: 14px;
   text-align: center;

} 
.host{
    display: flex;
    justify-content: center;
    align-items: center;
    
}